*,
*::before,
*::after {
    box-sizing: border-box;
}

.light-theme {
    --color-header-bg: #6943FF;
    --color-header-fg: #FFFFFF;
    --color-input-border: #B295FF;
    --color-main-bg: #F4F4F4;
    --color-main-fg: #353535;
    --color-section-bg: #FFFFFF;
    --color-section-heading-fg: #5A537B;
    --color-btn-bg: #FFFFFF;
    --color-btn-fg: #3D3D3D;

}

.dark-theme {
    --color-header-bg: #6943FF;
    --color-header-fg: #FFFFFF;
    --color-input-border: #B295FF;
    --color-main-bg: #1F2937;
    --color-main-fg: #FFFFFF;
    --color-section-bg: #273549;
    --color-section-heading-fg: #CCC1FF;
    --color-btn-bg: #FFFFFF;
    --color-btn-fg: #3D3D3D;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
}

main {
    background-color: var(--color-main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--color-header-bg);
    color: var(--color-header-fg);
    width: 100%;
}

#dark-mode-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#dark-mode-btn {
    margin: 5px 12px;
}

#title {
    font-size: 28px;
    font-weight: 800;
    margin: 15px auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 30px auto;
}

#input-field {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    height: 80px;
    width: 120px;
    color: var(--color-header-fg);
    background-color: var(--color-header-bg);
    border: 2px solid var(--color-input-border);
    border-radius: 5px;
}

#input-field::placeholder {
    color: var(--color-header-fg);
}

.btn {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-fg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.icon-btn {
    padding: 8px 8px 6px 8px;
}

.text-btn {
    font-size: 16px;
    margin: 10px auto;
    width: 120px;
    height: 40px;
}

article {
    background-color: var(--color-section-bg);
    color: var(--color-main-fg);
    margin: 20px 40px;
    padding: 15px;
    border-radius: 5px;
}

.results-container {
    width: 100%;
}

.unit-type-h2 {
    color: var(--color-section-heading-fg);
}